{% trans_default_domain 'AbroadUserBundle' %}


{% for flashMessage in app.session.flashbag.get('UnFriend-notice') %}
<div class="blogger-notice">
{{ flashMessage }}
</div>
{% endfor %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>
        <a href="{{ path('abroad_user_un_friend', { 'id': user.id }) }}">{{'profile.show.removefriend'|trans}}</a>
    </p>
</div>
{#<li>{{ render(controller('myNewBundle:Nav:renderNav', { 'target': 'my_new_pods', 'text': 'Reusable Pods' })) }}</li>#}

{#{{ path('AbroadBlogBundle_blog_show', { 'id': user.id }) }}"#}

{#    {{ render(controller(
        'AppBundle:Article:recentArticles',
        { 'max': 3 }
    )) }}#}