{% trans_default_domain 'AbroadUserBundle' %}
{% extends 'AbroadUserBundle::layout.html.twig' %}

{% block fos_user_content %}

<div class="fos_user_group_list">
    <p><a href="{{path('abroad_list_invitations')}}">
            {{ 'friends.list_users.youHave'|trans }} {{ invatations | length }} {{ 'friends.list_users.friendRequest'|trans }}
    </a></p>
    <ul>
        {% for invatation in invatations %}
        <li> <a href="{{path('abroad_user_profile_show', { 'id': invatation.senderId}) }}">{{invatation.senderId}}</a> -
            <a href="{{path('abroad_accept_invitation', {'senderId': invatation.senderId}) }}"> {{'friends.list_users.accept'|trans}} </a>
        </li>
        {% endfor %}
    </ul>
</div>

{#
    {% for group in groups %}
        <li><a href="{{ path('abroad_user_fungroup_show',  { 'id': group.id, 'slug': group.slug } ) }}">{{ group.getName() }}</a> - 
#}

{% endblock %}